x-common-deployment: &default-common-deployment
  # to be used with "<< : *default-common-deployment"
  deploy:
    replicas: 1
    restart_policy:
      condition: on-failure
      delay: 60s
      max_attempts: 3

services:
  listening-lab:
    <<: *default-common-deployment
    build:
      context: .
    env_file:
      - ".env"
    ports:
      - "8501:8501"
